<a href="https://colab.research.google.com/github/SaashaJoshi/automated-report-generation/blob/master/January_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install --upgrade -q gspread

import gspread
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [0]:
filename='January_sales.xlsx'
data = gc.open(filename).sheet1
all_values = data.get_all_values()
df=pd.DataFrame(all_values)

In [34]:
df

               0          1
0  Employee Name      Sales
1           Paul  $2,000.00
2          Oscar  $1,500.00
3        Richard  $4,000.00
4         Thomas    $500.00
5       Gabrelia    $780.00
6        Allison  $1,760.00
7          Louis  $1,000.00
8        Micheal    $530.00

In [35]:
df.T

               0          1          2  ...          6          7        8
0  Employee Name       Paul      Oscar  ...    Allison      Louis  Micheal
1          Sales  $2,000.00  $1,500.00  ...  $1,760.00  $1,000.00  $530.00

[2 rows x 9 columns]

In [41]:
df.T.replace('[\$,]', '', regex=True).apply(pd.to_numeric, errors='ignore')

               0        1        2  ...        6        7        8
0  Employee Name     Paul    Oscar  ...  Allison    Louis  Micheal
1          Sales  2000.00  1500.00  ...  1760.00  1000.00   530.00

[2 rows x 9 columns]

In [42]:
df.T.plot.bar(title='Sales Report from {}'.format(filename))

TypeError: ignored